@tailwind base;
@tailwind components;
@tailwind utilities;

nav ul li a.active {
    text-decoration: underline;
    color: tomato;
    font-weight: 700;
}

.banner {
    background-image: url('./assets/banner.jpg');
    background-color: rgba(255, 255, 255,0.8);
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
    
}